<!DOCTYPE html>
<html lang="en" class="game">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=520, height=620">
    <meta property="title" content="Atoms Blazor">
    <meta property="description" content="A 1993 Amiga game reimplemented using ASP.NET Blazor web technologies.">
    <meta property="og:title" content="Atoms Blazor">
    <meta property="og:type" content="website">
    <meta property="og:description" content="A 1993 Amiga game reimplemented using ASP.NET Blazor web technologies.">
    <meta property="og:image" content="@($"{Nav.BaseUri}{Assets["images/screenshot.png"]}")">
    <meta property="og:image:width" content="573">
    <meta property="og:image:height" content="740">
    <base href="/" />
    <link rel="stylesheet" href="@Assets["css/game.css"]" />
    <link rel="stylesheet" href="@Assets["css/account.css"]" />
    <link rel="stylesheet" href="@Assets["css/vanilla-notify.css"]" />
    <link rel="stylesheet" href="Atoms.Web.styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hint.css/3.0.0/hint.min.css" integrity="sha512-Wh4+s2lPgPpBCBz8fdVpfOcEw3WJmNRxLefQZ9tlF6gH6iwf+LMZdJjB/qpSLWfk2WOgMqJmcmZDqDgihK5qCA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="@Assets["images/favicon.png"]">
    <title>Atoms</title>
    <HeadOutlet @rendermode="RenderMode" />
</head>

<body>
    <Routes @rendermode="RenderMode" />
    <script src="_framework/blazor.web.js"></script>
    <script src="@Assets["js/vanilla-notify.min.js"]"></script>
    <script src="@Assets["js/app.js"]"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext _httpContext { get; set; } = default!;

    [Inject]
    NavigationManager Nav { get; set; } = default!;

    private IComponentRenderMode? RenderMode =>
        _httpContext.AcceptsInteractiveRouting()
            ? new InteractiveServerRenderMode(prerender: true)
            : null;
}
