@inherits BoardComponent

<div id="status">
    @if (!Game.IsInProgress)
    {
        <span class="@(GetPlayerClassName(Game.Winner!.Number))">
            Player @Game.Winner!.Number
        </span>
        @(" wins! ")
        <button @onclick="@PlayAgainClick">Play again</button>
    }
</div>
<div id="board">
    @foreach (var cell in Game.Board.Cells)
    {
        <Cell Data="@cell"
              PlayerClassName="@(GetPlayerClassName(cell.Player))"
              OnCellClicked="@CellClicked" />
    }
</div>
<div id="playerList">
    @foreach (var player in Game.Players)
    {
        <div class="@(GetPlayerClassNames(player))"></div>
    }
</div>