@using System.Threading.Tasks
@inherits BoardComponent

@if (Game is not null)
{
    var scores = Game.GetScores();

    <div id="status">
        @if (Game.HasWinner)
        {
            <span class="@(GetPlayerClassName(Game.Winner!.Number))">
                @if (!string.IsNullOrEmpty(Game.Winner!.Name))
                {
                    @Game.Winner.Name
                }
                else
                {
                    @:Player @Game.Winner!.Number
                }
            </span>
            @(" wins! ")

            @if (!Debug.HasValue)
            {
                <button @onclick="@RematchClick">Rematch</button>
            }
        }
    </div>
    <div id="board">
        @foreach (var cell in Game.Board.Cells)
        {
            <Cell Data="@cell"
                  PlayerClassName="@(GetPlayerClassName(cell.Player))"
                  OnCellClicked="@CellClicked" />
        }
    </div>
    <div id="playerList">
        @foreach (var player in Game.Players)
        {
            var (score, rank) = scores[player];

            <div>
                <div class="@(GetPlayerClassNames(player))">
                    <div class="cells">@(score.Cells)C</div>
                    <div class="atoms">@(score.Atoms)A</div>
                    @if (!Debug.HasValue)
                    {
                        <div class="@(GetPlayerNameClassNames(player))">
                            @if (!string.IsNullOrEmpty(player.AbbreviatedName))
                            {
                                <span title="@player.Name">@player.AbbreviatedName</span>
                            }
                            else if (!player.IsHuman)
                            {
                                <span title="@player.Type.Description">@player.Type.Name</span>
                            }
                            else if (!Game.HasWinner && player.TryCreateInviteLink(NavigationManager.BaseUri, out var inviteLink))
                            {
                                <a href="@inviteLink.Url" target="_blank">
                                    <img src="images/Digital_Glyph_Green.png" title="Invite player via WhatsApp" alt="Invite player via WhatsApp" width="20" height="20" />
                                </a>
                            }
                        </div>
                    }
                    <div class="rank">
                        @if (!player.IsDead)
                        {
                            @rank
                            ;
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="progress">
        <div>@(Game.Round)R</div>
        <div>@(Game.Move)M</div>
    </div>
}