@inherits CellComponent

<button id="@Id" 
        class="@CellClasses"
        style="@Style"
        data-atoms="@Data.Atoms"
        data-max-atoms="@Data.MaxAtoms"
        data-player-id="@(Data.Player ?? -1)"
        @onclick="@CellClick">
    @foreach (var atom in Enumerable.Range(1, Data.Atoms))
    {
        <div class="@AtomClasses(atom)"></div>
    }
    @if (@Data.Explosion != ExplosionState.None)
    {
        <div class="@ExplosionClasses()"></div>
    }
</button>