@inherits MenuComponent

@if (Options is not null)
{
    <div id="intro">
        <EditForm Model="Options" OnSubmit="SubmitAsync">
            <p>
                Number of players:
                <InputRadioGroup TValue="int"
                                 Value=@Options.NumberOfPlayers
                                 ValueExpression="() => Options.NumberOfPlayers"
                                 ValueChanged="NumberOfPlayersChanged">
                    @for (var players = Core.Constants.MinPlayers; players <= Core.Constants.MaxPlayers; players++)
                    {
                        <InputRadio id="@($"players_{players}")" Value="@players" />
                        <label for="@($"players_{players}")">@players</label>
                    }
                </InputRadioGroup>
            </p>
            <table>
                <tbody>
                    @for (var i = 0; i < Options.NumberOfPlayers; i++)
                    {
                        var playerId = i;
                        var playerIdClass = $"player{playerId}";
                        var player = Options.Players[i];
                        <tr id="@($"playerOptions{i}")">
                            <th class="@playerIdClass">Player @(playerId + 1)</th>
                            <td>
                                <InputRadioGroup Name="@playerIdClass"
                                                 TValue="int"
                                                 Value="@player.Type.Value"
                                                 ValueExpression="() => player.Type.Value"
                                                 ValueChanged="@(e => PlayerTypeChanged(player, e))">
                                    @foreach (var playerType in PlayerTypes)
                                    {
                                        var radioId = $"player_{playerId}_{playerType.Value}";
                                        <td>
                                            <InputRadio id="@radioId" Value="@playerType.Value" />
                                            <span aria-label="@playerType.Description" class="hint--bottom hint-info">
                                                <label for="@radioId">@playerType.Name</label>
                                            </span>
                                        </td>
                                    }
                                </InputRadioGroup>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <table>
                <caption>Options</caption>
                <tbody>
                    <tr>
                        <th>Colour scheme</th>
                        <td>
                            <InputRadioGroup Value="Options.ColourScheme.Value"
                                             ValueChanged="@(e => ColourSchemeChanged(e))"
                                             TValue="int"
                                             ValueExpression="() => Options.ColourScheme.Value">
                                @foreach (var colourScheme in ColourSchemes)
                                {
                                    <InputRadio id="@($"colours_{colourScheme.Name}")" Value="@colourScheme.Value" />
                                    <span aria-label="@colourScheme.Name" class="hint--bottom hint-info">
                                        <label for="@($"colours_{colourScheme.Name}")">@colourScheme.Name</label>
                                    </span>
                                }
                            </InputRadioGroup>
                        </td>
                    </tr>
                    <tr>
                        <th>Atom shapes</th>
                        <td>
                            <InputRadioGroup Value="Options.AtomShape.Value"
                                             ValueChanged="@(e => AtomShapeChanged(e))"
                                             TValue="int"
                                             ValueExpression="() => Options.AtomShape.Value">
                                @foreach (var atomShape in AtomShapes)
                                {
                                    <InputRadio id="@($"shapes_{atomShape.Name}")" Value="@atomShape.Value" />
                                    <span aria-label="@atomShape.Name" class="hint--bottom hint-info">
                                        <label for="@($"shapes_{atomShape.Name}")">@atomShape.Name</label>
                                    </span>
                                }
                            </InputRadioGroup>
                        </td>
                    </tr>
                    <tr>
                        <th>Sound</th>
                        <td>
                            <InputRadioGroup Value="Options.HasSound" ValueChanged="@(e => SoundChanged(e))" TValue="bool" ValueExpression="() => Options.HasSound">
                                <InputRadio id="sound_on" Value="@true" />
                                <span aria-label="Sound On" class="hint--bottom hint-info">
                                    <label for="sound_on">On</label>
                                </span>
                                <InputRadio id="sound_off" Value="@false" />
                                <span aria-label="Sound Off" class="hint--bottom hint-info">
                                    <label for="sound_off">Off</label>
                                </span>
                            </InputRadioGroup>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>
                <button type="submit" class="input-button">Start game</button>
            </p>
            <p>
                <a href="/about" target="_blank">About the game</a>
            </p>
        </EditForm>
    </div>
}