@inherits RegisterComponent

@page "/Account/Register"

<PageTitle>Register</PageTitle>

<h2>Register</h2>

<div class="account">
    <section>
        <StatusMessage Message="@ErrorMessage" />
        <EditForm Model="Input" method="post" OnValidSubmit="RegisterUser" FormName="register">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <FluentStack Orientation=@Orientation.Vertical VerticalGap=20>
                <div class="input-group">
                    <FluentTextField Name="Input.Name"
                                     @bind-Value=@Input.Name
                                     Label="Name"
                                     Required
                                     Autofocus
                                     Placeholder="Please enter your name"
                                     Maxlength="25"
                                     AutoComplete="name"
                                     Style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Input.Name)" />
                </div>
                <div class="input-group">
                    <FluentTextField Name="Input.Email"
                                     TextFieldType=@TextFieldType.Email
                                     @bind-Value=@Input.Email
                                     Label="Email"
                                     Required
                                     Placeholder="name@example.com"
                                     Maxlength=256
                                     AutoComplete="username"
                                     Style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Input.Email)" />
                </div>
                <div class="input-group">
                    <FluentTextField Name="Input.Password"
                                     TextFieldType=@TextFieldType.Password
                                     @bind-Value=@Input.Password
                                     Label="Password"
                                     Required
                                     Placeholder="Please enter your password"
                                     Minlength=12
                                     Maxlength=100
                                     AutoComplete="current-password"
                                     Style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Input.Password)" />
                </div>
                <div class="input-group">
                    <FluentTextField Name="Input.ConfirmPassword"
                                     TextFieldType=@TextFieldType.Password
                                     @bind-Value=@Input.ConfirmPassword
                                     Label="Confirm Password"
                                     Required
                                     Placeholder="Please confirm your password"
                                     Minlength=12
                                     Maxlength=100
                                     AutoComplete="new-password"
                                     Style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Input.ConfirmPassword)" />
                </div>
                <div class="input-group center-align">
                    <button type="submit">Register</button>
                </div>
            </FluentStack>
        </EditForm>
    </section>
</div>
