@inherits ResetPasswordComponent

@page "/Account/ResetPassword"

<PageTitle>Reset password</PageTitle>

<h2>Reset password</h2>
<h3>Reset your password.</h3>
<hr />

<div class="account">
    <section>
        <StatusMessage Message="@Message" />
        <EditForm Model="Input" method="post" OnValidSubmit="OnValidSubmit" FormName="reset-password">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <FluentStack Orientation=@Orientation.Vertical VerticalGap=20>
                <input type="hidden" name="Input.Code" value="@Input.Code" />
                <div class="input-group">
                    <FluentTextField Name="Input.Email"
                                     TextFieldType=@TextFieldType.Email
                                     @bind-Value=@Input.Email
                                     Label="Email"
                                     Required
                                     Autofocus
                                     Placeholder="name@example.com"
                                     Maxlength=256
                                     AutoComplete="username"
                                     Style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Input.Email)" />
                </div>
                <div class="input-group">
                    <FluentTextField Name="Input.Password"
                                     TextFieldType=@TextFieldType.Password
                                     @bind-Value=@Input.Password
                                     Label="Password"
                                     Required
                                     Placeholder="password"
                                     Maxlength=100
                                     AutoComplete="current-password"
                                     Style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Input.Password)" />
                </div>
                <div class="input-group">
                    <FluentTextField Name="Input.ConfirmPassword"
                                     TextFieldType=@TextFieldType.Password
                                     @bind-Value=@Input.ConfirmPassword
                                     Label="Confirm Password"
                                     Required
                                     Placeholder="Please confirm your password"
                                     Minlength=12
                                     Maxlength=100
                                     AutoComplete="new-password"
                                     Style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Input.ConfirmPassword)" />
                </div>
                <div class="input-group center-align">
                    <button type="submit">Reset</button>
                </div>
            </FluentStack>
        </EditForm>
    </section>
</div>
